.input {
  width: 629px;
  display: flex;
  border: solid 0.1 #cacaca;
  box-sizing: border-box;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: rgba(0, 0, 82, 1.15) 0 2px 4px;
  overflow: hidden;
  border-style: none;
}

.input button:active {
  background-color: #cacaca;
}

.input2 {
  box-shadow: rgba(0, 0, 82, 0.95) 0px 2px 4px;
  overflow: hidden;
}

.input button {
  min-width: 10%;
  border: none;
  border-left: 1px solid #cacaca;
  font-weight: bold;
  cursor: pointer;
}

.input input {
  border-style: none;
  border: none;
  padding: 13px 14px;
  outline: none;
}

/* search-history.css */
body.search-focus {
  background-color: rgba(0, 0, 0, 0.2);
  /* Darken the background */
  transition: background-color 0.3s ease;
}

.search-container {
  /* Styles for the main container */
  position: relative;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
}

.search-history-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(45rem + 75px);
  background-color: rgba(0, 0, 0, 0.85);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
  z-index: 10;
}

.search-history-title {
  padding: 8px 10px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}

.search-history-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-history-item {
  padding: 8px 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-history-item:hover {
  background-color: #f0f0f0;
}

.search-history-remove {
  cursor: pointer;
  padding: 0 5px;
}

.search-history-remove:hover {
  color: red;
}
